.App {
     text-align: center;
 }

.button.red {
    background-color: red;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
    text-align:center;
}

.button.green {
    background-color: green;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
    text-align:center;

}
